<h1>Tasks</h1>
<% if (tasks) { %>
  <% tasks.forEach((task) => { %>
    <div class="task-card">
      <a href="/tasks/<%=task.id%>"><h3><%= task.title %></h3></a>
      <p><%= task.description %></p>
      <%- include ('../partials/deleteForm.ejs', { url : `/tasks/${task.id}`}) %>
  </div>
 <% }); %>
<% } %>
<a href="/tasks/new">Add a task</a>
